NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBTjjY4jzBmV5JxLkp6eiwt2WlAOw2Mj2s
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=abc1111-30d44.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=abc1111-30d44
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=abc1111-30d44.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=424885536430
NEXT_PUBLIC_FIREBASE_APP_ID=1:424885536430:web:540c12731e9d4505ddcf3f
NEXT_PUBLIC_ADMIN_EMAIL=abc1111@abc1111.am
